@use './../../scss/variables' as *;

.home {
  &__title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $primary-color;
  }

  &__error {
    color: red;
    font-size: 0.85rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    gap: 1rem;

    p {
      color: $text-muted;
      font-size: 0.95rem;
    }
  }
}