.language-switcher {
  button {
    margin: 0.5rem 0.2rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    border: 1px solid #007bff;
    border-radius: 3px;
    background: white;
    color: #007bff;

    &:hover {
      background-color: #007bff;
      color: white;
    }
  }
}
